name: Build
on: [ push ]

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16.13.0'
      - name: Install yarn
        run: |
          npm install -g yarn
      - run: yarn install
      - run: yarn format
      - run: yarn linter
      - run: yarn build

  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16.13.0'
      - name: Install yarn
        run: npm install -g yarn
      - run: yarn install
      - run: yarn build
      - run: yarn test
